@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Lato', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.menu-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  background: #0000FF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 10px 12px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 200px;
}

.first-circle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  background: #0000FF;
  border-radius: 200px;
}

.second-circle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  background: #0000FF;
  border-radius: 200px;
}

.home-doc {
  visibility: hidden;
}

.arrow-div {
  margin-bottom: 34px;
}

h5 {
  font-family: Lato;
  font-weight: 700;
  font-size: 28px;
  font-style: bold;
  fill: #000000;
}

.entire {
  width: 90%;
  padding-left: 70px;
  margin-top: 30px;
}

.container {
  position: relative;
  text-align: left;
  border: 5px blue;
  border-radius: 5px;
  margin-top: 20px;
}

.container {
  color: #2B2B2B;
  font-weight: 400;
  font-size: 16px;
}

.container p {
  color: #0000FF;
  position: relative;
  margin-right: 60px;
  font-weight: 600;
  float: right;
}

#mail {
  width: 75vw;
  margin: 5px 0 15px;
  /* height: 2rem; */
  color: #6D6D6D;
  padding-left: 10px;
  height: 35px;
  border-width: 2.7px;
  border-color: #0000ff5f;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

#psw {
  width: 75vw;
  margin: 5px 0 5px;
  color: #6D6D6D;
  padding-left: 10px;
  height: 35px;
  border-radius: 5px;
  border-width: 2.7px;
  border-color: #0000ff5f;
  font-family: 'Lato', sans-serif;
}

#togglePassword {
  margin-left: -30px;
  cursor: pointer;
  color: #6D6D6D;
}

#btn {
  background-color: #0000FF;
  color: #FFFFFF;
  width: 78vw;
  /* height: 6.5vh; */
  border: none;
  border-radius: 5px;
  margin: 35px 0 7px;
  font-weight: 700;
  font-size: 20px;
  height: 35px;
}

#btn:hover {
  background-color: #0000AA;
  color: #FFFFFF;
}

.create p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-family: Lato;
}

.create a {
  font-size: 18px;
  text-decoration: none;
  color: #0000D4;
}

/* The msg displays when user clicks on psw feild */
position: relative;
padding: 20px;
margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 12px;
}

#message {
  display: none;
  background-color: #f1f1f1;
  color: #C62828;
  }
  /* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
  }

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
  }

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
  }

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
  }


@media only screen and (min-width: 700px) {
  * {
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F9;
  }

  .menu-bar {
    /* width: 100vw;
    overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #0000FF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .drop-down {
    float: right;
    overflow: hidden;
    padding-left: 40px;
  }

  .drop-btn {
    color: #F5F5F9;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    font-family: Lato;
    text-decoration: none;
  }

  /* .drop-btn i {
    width: 0.4rem;
    height: 0.01rem;
} */
  .drop-down-content {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: #F5F5F9;
    z-index: 1;
  }

  .drop-down-content a {
    font-size: 2px;
    float: none;
    color: #6D6D6D;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .drop-down-content a:hover {
    background-color: #0000FF;
  }

  .drop-down:hover .drop-down-content {
    display: block;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 10px; */
    padding: 5px 10px 12px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 200px;
  }

  .first-circle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    background: #0000FF;
    border-radius: 200px;
  }

  .second-circle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    background: #0000FF;
    border-radius: 200px;
  }

  .home-doc {
    visibility: visible;
    position: absolute;
    right: 150px;
  }

  .home-doc a {
    color: #FFFFFF;
    padding: 0 10px 0 30px;
    font-size: 15px;
    font-weight: 700;
    font: Lato;
    text-decoration: none;
  }

  .arrow-div {
    visibility: hidden;
    margin-bottom: 34px;
  }

  h5 {
    font-family: Lato;
    font-weight: 700;
    font-size: 32px;
    font-style: bold;
    fill: #000000;
    margin-bottom: 15px;
  }

  .entire {
    max-width: 350px;
    height: 370px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    margin: 50px auto;
  }

  .container {
    font-weight: 400;
  }

  .container p {
    color: #0000FF;
    position: relative;
    float: right;
    margin-right: 5px;
    font-weight: 500;
    font-size: 12px;
    margin-right: 40px;
  }

  .label {
    font-size: 15px;
    color: #2B2B2B;
    font-weight: 400;
  }

  #mail {
    width: 260px;
    height: 35px;
    border-radius: 10px;
    margin: 5px 0 10px;
    color: #6D6D6D;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
  }

  #psw {
    width: 260px;
    height: 35px;
    border-radius: 10px;
    margin: 5px 0 5px;
    color: #6D6D6D;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
  }

  #togglePassword {
    margin-left: -30px;
    cursor: pointer;
    color: #6D6D6D;
  }

  #btn {
    background-color: #0000FF;
    color: #FFFFFF;
    width: 285px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 1rem;
  }

  #btn:hover {
    background-color: #0000AA;
    color: #FFFFFF;
  }

  .create p {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    width: 285px;
    text-align: center;
  }

  .create a {
    font-size: 12px;
  }

  /* The msg displays when user clicks on psw feild */
  #message {
    display: none;
    background-color: #f1f1f1;
    color: #C62828;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

  #message p {
    padding: 10px 35px;
    font-size: 12px;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }

  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

}