@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
}
body {
    
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.menu-bar {
    margin-bottom: 35px;
    background-color: #0000FF;
    width: 100vw;
    height: calc(7vh - 15px);
    padding: 15px 0 15px 43px;
    display: flex;
    flex-wrap: wrap;
}
.logo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border: none;
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 1.9rem;
    height: 1.1rem;
    padding: 5px 3px 1px;
}
.first-circle {
    border: 5px solid #0000FF;
    background-color: #0000FF;
    border-radius: 50%;
    height: 0.15rem;
    width: 0.1rem;
}
.second-circle {
    border: 5px solid #0000FF;
    background-color: #0000FF;
    border-radius: 50%;
    height: 0.15rem;
    width: 0.1rem;
}
.home-doc {
    visibility: hidden;
}
.arrow-div {
    margin-bottom: 34px;
}

h5 {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    font-style: bold;
    fill: #000000;
}
.entire {
    width: 90%;
    padding-left: 34px;
}
.container {
    position: relative;
    text-align: left;
    /* color:#919191; */
    border: 5px blue;
    border-radius: 5px;
    margin-top: 20px;
}
.container {
    color: #2B2B2B;
    font-weight: 400;
    font-size: 16px;
}
.container p {
    color: #0000FF;
    position: relative;
    margin-right: 25px;
    font-weight: 600;
    float: right;
}
#mail {
    width: 80vw;
    margin: 5px 0 15px;
    /* height: 2rem; */
    color: #6D6D6D;
    padding-left: 10px;
    height:35px; 
    border-width: 2.7px;
    border-color:#0000ff5f;
}
#psw {
    width: 80vw;
    margin: 5px 0 5px;
    color: #6D6D6D;
    padding-left: 10px;
    height:35px; 
    border-radius:5px; 
    border-width: 2.7px;
    border-color:#0000ff5f;
}
#togglePassword {
    margin-left: -30px;
    cursor: pointer;
    color: #6D6D6D;
}
#btn {
    background-color: #0000FF;
    color: #FFFFFF;
    width: 82vw;
    /* height: 6.5vh; */
    border: none;
    border-radius: 5px;
    margin: 35px 0 7px;
    font-weight: 700;
    font-size: 20px;
    height: 35px;
}
#btn:hover {
    background-color: #0000AA;
    color: #FFFFFF;
}
.create p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-family: Lato;
}
.create a {
    font-size: 18px;
    text-decoration: none;
    color:#0000D4;
}
/* The msg displays when user clicks on psw feild */
#message {
    display: none;
    background-color: #f1f1f1;
    color: #C62828;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
#message p {
    padding: 10px 35px;
    font-size: 12px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

@media only screen and (min-width: 700px) {
* {
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F9;
}
.menu-bar {
    margin-bottom: 100px;
    background-color: #0000FF;
    width: 100vw;
    overflow: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    height: calc(10.5vh - 30px);
    text-align: center;
    text-decoration: none;
    padding: 20px 0 15px 43px;
}
.drop-down {
    float: right;
    overflow: hidden;
    padding-left: 40px;
}
.drop-btn {
    color: #F5F5F9;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    font-family: Lato;
    text-decoration: none;
}
/* .drop-btn i {
    width: 0.4rem;
    height: 0.01rem;
} */
.drop-down-content {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: #F5F5F9;
    z-index: 1;
}
.drop-down-content a {
    font-size: 2px;
    float: none;
    color:#6D6D6D;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.drop-down-content a:hover {
    background-color: #0000FF;
}
.drop-down:hover .drop-down-content {
    display: block;
}
.logo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border: none;
    background-color: #FFFFFF;
    border-radius: 19px;
    width: calc(3rem - 16px);
    height: calc(2rem - 18px);
    padding: 7px 8px 4px;
}
.first-circle {
    border: 5px solid #0000FF;
    background-color: #0000FF;
    border-radius: 50%;
    height: 0.2rem;
    width: 0.2rem;
}
.second-circle {
    border: 5px solid #0000FF;
    background-color: #0000FF;
    border-radius: 50%;
    height: 0.2rem;
    width: 0.2rem;
}
.home-doc {
    visibility:visible;
    position: absolute;
    right: 150px;
}
.home-doc a {
    color: #FFFFFF;
    padding: 0 10px 0 30px;
    font-size: 15px;
    font-weight: 700;
    font: Lato;
    text-decoration: none;
}
.arrow-div {
    visibility: hidden;
    margin-bottom: 34px;
}

h5 {
    font-family: Lato;
    font-weight: 700;
    font-size: 32px;
    font-style: bold;
    fill: #000000;
    margin-bottom: 15px;
}
.entire {
    max-width: 350px;
    height: 370px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 50px;
    padding-left: 30px;
}
.container {
    font-weight: 400;
}
.container p {
    color: #0000FF;
    position: relative;
    float:right;
    margin-right: 5px;
    font-weight: 500;
    font-size: 12px;
    margin-right: 40px;
}
.label {
    font-size: 15px;
    color: #2B2B2B;
    font-weight: 400;
}
#mail {
    width: 260px;
    height: 1.6rem;
    border-radius: 10px;
    margin: 5px 0 10px;
    color: #6D6D6D;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
}
#psw {
    width: 260px;
    height: 1.6rem;
    border-radius: 10px;
    margin: 5px 0 5px;
    color: #6D6D6D;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
}
#togglePassword {
    margin-left: -30px;
    cursor: pointer;
    color: #6D6D6D;
}
#btn {
    background-color: #0000FF;
    color: #FFFFFF;
    width: 285px;
    height: 1.6rem;
    border: none;
    border-radius: 5px;
    margin: 20px 0 5px;
    font-weight: 700;
    font-size: 12px;
}
#btn:hover {
    background-color: #0000AA;
    color: #FFFFFF;
}
.create p {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    font-family: Lato;
}
.create a {
    font-size: 12px;
}

/* The msg displays when user clicks on psw feild */
#message {
    display: none;
    background-color: #f1f1f1;
    color: #C62828;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
#message p {
    padding: 10px 35px;
    font-size: 12px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

}