body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.hamburger-menu {
  display: none;
}

.hamburger-img {
  /* position: absolute; */
  z-index: 100;
  top:
    /*1rem*/
    0;
  right:
    /*1rem*/
    0;
  padding: 4px;
  border:
    /*black solid 1px*/
    none;
  background-color: #0000FF;
  cursor: pointer;
}

#close {
  display: none;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-decoration: none;
}

.menuItem:hover {
  color: darkgray;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #0000FF;
  list-style: none;
  padding-top: 4rem;
}

ul {
  margin-top: 0;
}

.showMenu {
  transform: translateY(0);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  /* gap: 444px; */

  /* position: absolute; */
  /* width: 1728px;
  height: 128px; */
  /* left: 0px;
  top: 0px; */

  /* Primary/90 */

  background: #0000FF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 90%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 4px; */
  gap: 10px;

  /* position: absolute; */
  width: 20px;
  height: 20px;
  /* left: 88px;
  top: 50px; */
  margin-top: 8px;
  background: #0000FF;
  border-radius: 200px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 10px; */
  padding: 5px 10px 12px;
  gap: 10px;

  /* width: 65px 78px; */
  /* height: 40px 49px; */

  background: #FFFFFF;
  border-radius: 200px;

}

nav p {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #FFFFFF;
  padding-right: 40px;
}

nav a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 29px;
  /* identical to box height */
  text-decoration: none;

  /* 1stcolor/100 */
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 5px 50px;
  border-radius: 5px;
  margin: 10px 0;
}

.header-text {
  display: flex;
  align-items: center;
}

.landing-text {
  display: flex;
  background-color: #F2F2F2;
  padding: 0 80px;
  align-items: center;
  padding-top: 150px;
}

.text h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 115%;
  /* or 74px */

  display: flex;
  align-items: center;

  /* Primary/100 */

  color: #000055;

}

.text h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  /* or 48px */

  display: flex;
  align-items: center;

  color: #484848;
}

.text p {
  align-items: center;
  color: #2B2B2B;
  display: flex;
  height: 26px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.625rem;
  width: 100%;
  padding-left: 15px;
}

.burger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.burg {
  background-color: #6666FF;
  padding: 4px;
  border: 12px solid #E0E0FF;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.hamburger {
  filter: brightness(0) invert(1);
  height: 15px;
  width: 15px;
}

.image {
  width: 550px;
  height: 600px;
  padding-left: 50px;
}

.started {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 32px;
  /* gap: 10px; */
  border: none;
  width: 250px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  /* Primary/70 */
  color: #F7F7F7;
  background: #0000D5;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
}

.explain-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  /* or 67px */

  text-align: center;

  /* 1stcolor/1200 */

  color: #2B2B2B;
  margin-bottom: 0;
}

.explain-p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  /* or 38px */

  text-align: center;

  /* 1stcolor/1100 */

  color: #484848;
}

.inner-text {
  display: flex;
  justify-content: space-evenly;
}

.metadata-text {
  border: 1px solid #AA6E00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  /* gap: 29px; */

  width: 450px;
  height: 250px;
  border-radius: 16px;
}

.metadata-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 120%;
  /* identical to box height, or 48px */

  text-align: center;
}

.metadata-text p {
  /* width: 611px;
  height: 283px; */
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  /* or 42px */

  text-align: center;

  /* 1stcolor/1000 */

  color: #6D6D6D;
}

.metadata-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  /* gap: 29px; */

  width: 450px;
  height: 250px;

  background: #5555FF;
  border-radius: 16px;

}

.metadata-text2 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 120%;
  /* identical to box height, or 48px */

  text-align: center;

  color: #FCFCFC;
}

.metadata-text2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  /* or 42px */

  text-align: center;

  color: #FAFAFA;
}

.follow {
  background: #0000AA;
  margin-top: 100px;
  padding: 50px 0 80px;
}

.follow h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  /* identical to box height, or 58px */

  text-align: center;

  /* 1stcolor/100 */

  color: #FFFFFF;

}

.follow-text {
  display: flex;
  justify-content: space-around;
}

.follow-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  /* or 38px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.follow-text p {
  font-style: normal;
  /* font-weight: 600; */
  font-size: 1.25rem;
  line-height: 130%;
  /* or 36px */

  display: flex;
  align-items: center;
  text-align: center;

  /* 1stcolor/100 */

  color: #FFFFFF;
  margin-top: 0;
}

.vector-svg,
.view-svg,
.burger-svg,
.download-svg {
  width: 100px;
  height: 100px;
}

.vector,
.get,
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  padding: 0px;
  width: 270px;
  /* gap: 80px; */
}

.burger-svg {
  position: absolute;
  left: 648px;
  top: 1453px;
}

.dot {
  position: absolute;
  left: 702px;
  top: 1516px;
  width: 22px;
  height: 22px;
}

.why {
  background-image: url(images/Ellipse\ 16.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 50px 0 80px;
  padding-left: 70px;
}

.this {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;
  /* or 96px */


  /* 1stcolor/1200 */

  color: #2B2B2B;
  text-align: left;
}

.platform {
  display: none;
}

.choose {
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  /* or 96px */


  /* 1stcolor/1200 */

  color: #2B2B2B;
}

.reason {
  display: flex;
  width: 1014px;
  /* height: 876px; */
  align-items: center;
  justify-content: space-evenly;
  padding-top: 70px;
}

.reason h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  /* or 38px */

  /* display: flex;
  align-items: center; */
  text-align: center;

  /* 1stcolor/1200 */

  color: #2B2B2B;
}

.reason p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
  /* or 29px */

  text-align: center;

  /* 1stcolor/1000 */

  color: #6D6D6D;
}

.reason img {
  display: flex;
  margin: auto;
}

.mark {
  position: absolute;
  top: 2075px;
  left: 610px;
}

/* 1024px
.mark {
  position: absolute;
  top: 1900px;
  left: 405px;
} */

.efficient,
.secure {
  border: 1px solid #AAAAFF;
  border-radius: 10px;
}

.trusted,
.management {
  border: 1px solid #AA6E00;
  border-radius: 10px;
}

.efficient,
.secure,
.trusted,
.management {
  padding-top: 40px;
  width: 400px;
  height: 250px;
  margin-bottom: 30px;
}

.secure {
  margin-top: 150px;
}

.half-dash {
  position: absolute;
  top: 2415px;
  left: 1055px;
}

/* 1024px
.half-dash {
  position: absolute;
  top: 2480px;
  left: 790px;
} */

.circle {
  filter: brightness(0) invert(0);
  position: absolute;
  top: 2413px;
  left: 1085px;
  width: 33px;
  height: 33px;
}

.management {
  margin-top: 40px;
}

.users {
  background-color: #FCFCFC;
  background-image: url(images/Ellipse\ 17.svg);
  background-repeat: round;
  padding: 80px 0 100px;
}

.users h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  /* identical to box height, or 58px */

  text-align: center;
  color: #2B2B2B;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards img {
  width: 100px;
  height: 100px;
}

.first-user,
.second-user,
.third-user {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 30px 0px;
  width: 300px;
  /* height: 548px; */

}

.first-user {

  /* gap: 32px; */

  /* Secondary/10 */
  color: #2B2B2B;
  background: #FFEDCC;
}

.second-user {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 30px 0px; */
  /* gap: 32px; */

  /* Primary/40 */

  background: #5555FF;
  color: #FFFFFF;
}

.third-user {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 30px 0px; */
  /* gap: 32px; */

  /* 1stcolor/100 */

  background: #FFFFFF;
  color: #2B2B2B;
  /* Primary/40 */

  border: 1px solid #5555FF;
}

.words {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  /* or 78px */

  text-align: center;
  width: 250px;
}

.name {
  width: 140px;
  height: 29px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.faq {
  margin: 100px 0 150px;
}

.faq h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  /* identical to box height, or 58px */

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  /* 1stcolor/1200 */

  color: #2B2B2B;
}

.question {
  font-family: 'Lato', sans-serif;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  background: #0000D5;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  /* or 38px */


  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

.faq .content.active .question {
  background-color: #FFB42B;
}

.btn:focus img {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  /* or 29px */
  width: 680px;
  background-color: #F0F0FF;
  margin-top: 0;
  padding: 20px 10px;
  border-radius: 5px;

  color: #2B2B2B;
  display: none;
}

/*BUNMI's ADDED CODE FOR FAQ  */
.questions {
  width: 100%;
  font-size: 1.5rem;
}

.question P {
  position: relative;
}

.question P::after {
  content: url(images/open.svg);
  position: absolute;
  right: 0;
  padding-right: 15px;
}

.faq .content.active .answer {
  display: block;
}

.faq .content.active .question P::after {
  content: url(images/close.svg);
}

/*BUNMI's ADDED CODE FOR FAQ  */

.open-answer {
  display: block;
}

.open-button {
  display: none;
}

.close-btn2 {
  display: block;
}

.close-btn {
  display: none;
}

footer {
  background-color: #000080;
  color: #FFFFFF;
  text-align: center;
  padding: 50px;
}

/* 2560px Screens */
@media only screen and (min-width: 2560px) {
  nav {
    padding: 40px 80px;
  }

  nav a {
    font-size: 2.25rem;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .text h1 {
    font-size: 5rem;
  }

  .text h2 {
    font-size: 3.5rem;
  }

  .text p {
    font-size: 3rem;
  }

  .started {
    font-size: 3rem;
    width: 500px;
    height: 100px;
  }

  .image {
    width: 1000px;
    height: 1000px;
    padding-left: 50px;
  }

  .explain-h1 {
    margin-top: 80px;
    font-size: 4.5rem;
  }

  .explain-p {
    font-size: 3rem;
  }

  .inner-text {
    justify-content: space-evenly;
  }

  .metadata-text,
  .metadata-text2 {
    width: 950px;
    height: 600px;
  }

  .metadata-text h2,
  .metadata-text2 h2 {
    font-size: 4rem;
  }

  .metadata-text p,
  .metadata-text2 p {
    font-size: 3rem;
  }
}

/* 1440px Screens */
@media only screen and (min-width: 1440px) {
  .started {
    font-size: 1.5rem;
    width: 300px;
    height: 60px;
  }

  .text p {
    font-size: 1.5rem;
  }

  .explain-h1 {
    margin-top: 40px;
  }

  .inner-text {
    justify-content: space-around;
  }

  .metadata-text,
  .metadata-text2 {
    width: 500px;
    height: 300px;
  }

  /* .metadata-text {
    margin: 20px 0 10px 80px;
  }


  .metadata-text2 {
    margin: 20px 80px 10px 0;
  } */

  .metadata-text h2,
  .metadata-text2 h2 {
    font-size: 2rem;
  }

  .metadata-text p,
  .metadata-text2 p {
    font-size: 1.5rem;
  }

  .follow {
    padding: 50px 0 120px;
  }

  .vector,
  .get,
  .download {
    width: 400px;
  }

  .follow h2 {
    font-size: 3rem;
  }

  .follow-text h3 {
    font-size: 2rem;
  }

  .follow-text p {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .efficient,
  .secure,
  .trusted,
  .management {
    width: 450px;
    height: 300px;
  }

  .reason h3 {
    font-size: 2rem;
  }

  .reason p {
    font-size: 1.5rem;
  }
}

/* 1024 screens */
@media only screen and (max-width: 1024px) {
  .landing-text {
    padding: 0px 50px;
    padding-top: 50px;
  }

  .image {
    width: 500px;
    height: 680px;
  }

  .metadata-text,
  .metadata-text2 {
    width: 400px;
  }

  .follow h2 {
    padding-top: 30px;
  }

  .efficient,
  .secure,
  .trusted,
  .management {
    width: 350px;
    height: 250px;
  }

  .first-user,
  .second-user,
  .third-user {
    width: 250px;
  }
}

/* 375px - 768px Screens */
@media only screen and (max-width:800px) {
  nav {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    background: #0000FF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 10px 60px;

    position: fixed;
    width: 90%;
  }

  .logo-header {
    padding: 1px 8px 8px;
    gap: 5px;
  }

  .landing-text {
    flex-direction: column;
    padding: 80px 40px 0;
  }

  .text h1 {
    font-size: 2rem;
    line-height: 120%;
  }

  .text h2 {
    font-size: 1.25rem;
  }

  .burg {
    background-color: #6666FF;
    border: 8px solid #E0E0FF;
    width: 10px;
    height: 10px;
  }

  .hamburger {
    height: 12px;
    width: 10px;
    margin: 0px 5px 4px 0;
  }

  .started {
    margin: 30px auto 0;
  }

  .image {
    margin-top: 50px;
    width: 714px;
    height: 700px
      /*936px*/
    ;
  }

  .explain-h1 {
    font-size: 1.5rem;
    width: 324px;
    margin: 30px auto auto;
  }

  .explain-p {
    font-size: 1rem;
  }

  .inner-text {
    flex-direction: column;
  }

  .metadata-text,
  .metadata-text2 {
    width: 319px;
    height: 260px;
    padding: 20px;
    margin: 20px auto 20px;
  }

  .metadata-text h2,
  .metadata-text2 h2 {
    font-size: 1.5rem;
  }

  .metadata-text p,
  .metadata-text2 p {
    font-size: 1rem;
    line-height: 130%;
    margin: 0 auto;
    width: 255px;
    height: 147px;
  }

  .follow {
    margin-top: 50px;
  }

  .follow h2 {
    font-size: 1.75rem;
    width: 320px;
    margin: auto auto 25px;
  }

  .follow-text {
    flex-direction: column;
  }

  .follow-text p {
    font-weight: 400;
    font-size: 1rem;
    width: 368px;
    margin: auto;
  }

  .vector,
  .get,
  .download {
    width: 350px;
    margin: auto;
    padding-bottom: 50px;
  }

  .why {
    flex-direction: column;
    margin: 25px 0 40px;
    padding-left: 0;
  }

  .this {
    display: none;
  }

  .platform {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 120%;
    color: #2B2B2B;
    text-align: left;
  }

  .reason {
    flex-direction: column;
    width: 350px;
    padding-top: 35px;
  }

  .reason p {
    font-size: 1rem;
    width: 248px;
    margin: auto;
  }

  .efficient,
  .secure,
  .trusted,
  .management {
    padding-top: 20px;
    width: 310px;
    height: 250px;
    margin: auto auto 40px
  }

  .users {
    padding: 0 0 50px;
  }

  .users h1 {
    font-size: 1.5rem;
    width: 337px;
    margin: auto;
  }

  .cards {
    flex-direction: column;
  }

  .first-user,
  .second-user,
  .third-user {
    margin: auto auto 20px;
  }

  .words {
    font-size: 1.25rem;
    padding-top: 20px;
  }

  .faq {
    margin: 0 0 50px;
  }

  .faq h1 {
    font-size: 1.5rem;
  }

  .btn {
    width: 350px;
    font-size: 1rem;
  }

  .button p {
    width: 268px;
    font-size: 1rem;
  }

  .open-btn {
    width: 20px;
  }

  .close-btn {
    width: 10px;
  }

  .question {
    width: 500px;
  }

  .answer {
    width: 480px;
  }
}

@media only screen and (max-width: 600px) {
  .landing-text {
    padding-top: 80px;
  }

  .hamburger-menu {
    padding: 10px 25px;
    position: fixed;
    width: 90%;
  }

  .image {
    margin-top: 50px;
    width: 414px;
    height: 500px;
    padding-left: 0;
  }

  .question {
    width: 350px;
    padding: 0;
  }

  .answer {
    width: 330px;
  }

  .questions {
    font-size: 1rem;
    padding: 0 0 0 15px;
  }
}

/* 375px logo fix */
@media only screen and (max-width:375px) {
  .landing-text {
    padding-top: 80px;
  }

  .hamburger-menu {
    padding: 10px 25px;
    position: fixed;
    width: 85%;
  }

  .image {
    margin-top: 50px;
    width: 350px;
    height: 350px;
    padding-left: 0;
  }

  .question {
    width: 350px;
    padding: 0;
  }

  .answer {
    width: 330px;
  }

  .questions {
    font-size: 1rem;
    padding: 0 0 0 15px;
  }
}