@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
}
body {
    
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.menu-bar {
    margin-bottom: 35px;
    background-color: #0000FF;
    width: 100vw;
    /* height: calc(7vh - 15px); */
    padding: 15px 34px 15px;
    display: flex;
    flex-wrap: wrap;
}
.logo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border: none;
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 1.9rem;
    height: 1.1rem;
    padding: 5px 3px 1px;
}
.first-circle {
    border: 5px solid #0000FF;
    background-color: #0000FF;
    border-radius: 50%;
    height: 0.15rem;
    width: 0.1rem;
}
.second-circle {
    border: 5px solid #0000FF;
    background-color: #0000FF;
    border-radius: 50%;
    height: 0.15rem;
    width: 0.1rem;
}
.home-doc {
    visibility: hidden;
}
.arrow-div {
    margin-bottom: 34px;
}
.arrow {
    color: #000000;
}

h5 {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    font-style: bold;
    fill: #000000;
}
.entire {
    width: 90%;
    padding-left: 34px;
}
.container {
    position: relative;
    text-align: left;
    /* color:#919191; */
    border: 5px blue;
    border-radius: 5px;
    margin-top: 20px;
}
/* form {
    box-sizing: border-box;
    border: 8px red;
    width: 70vw;
    height: 20vh;
} */
.container {
    color: #2B2B2B;
    font-weight: 400;
    font-size: 16px;
}
.container p {
    color: #0000FF;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
}
#mail {
    width: 80vw;
    margin: 5px 0 15px;
    /* height: 2rem; */
    color: #6D6D6D;
}
#psw {
    width: 80vw;
    margin: 5px 0 5px;
    color: #6D6D6D;
}
#togglePassword {
    margin-left: -30px;
    cursor: pointer;
    color: #6D6D6D;
}
#btn {
    background-color: #0000FF;
    color: #FFFFFF;
    width: 80vw;
    /* height: 6.5vh; */
    border: none;
    border-radius: 5px;
    margin: 35px 0 7px;
    font-weight: 700;
    font-size: 20px;
}
.create p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-family: Lato;
}
.create a {
    font-size: 18px;
}