body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background: #0000FF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  background: #0000FF;
  border-radius: 200px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 10px 12px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 200px;

}

main {
  padding: 0 30px;
  text-align: justify;
}

h1 {
  text-align: center;
}

footer {
  background-color: #000080;
  color: #ffffff;
  text-align: center;
  padding: 20px 0 30px 20px;
  display: grid;
  gap: 32px;
  margin-top: 30px;
}

.contact {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 0;
}

.contact-info {
  display: flex;
  padding-bottom: 10px;
}

.contact-info p {
  font-size: 15px;
  padding-left: 16px;
  margin-top: 0;
  text-align: left;
}

.contact-info img {
  height: 12px;
  margin: 5px 15px 0 0;
  width: 12px;
}

.links {
  display: grid;
  font-size: 15px;
  gap: 10px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  grid-template-columns: repeat(2, 1fr);
  height: 1px;
  margin: 0;
}

.links a {
  color: #FFFFFF;
  margin: 0;
  text-decoration: none;
}

.about:hover,
.whatwedo:hover,
.faq:hover,
.career:hover,
.blog:hover,
.contact:hover {
  text-decoration: underline;
}

.social {
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  margin: 0 110px 0 0;
}

.social img {
  margin: 0 10px 0 0;
  width: 30px;
  filter: brightness(0) invert(1);
}

.copyright {
  font-size: 12px;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin: 0;
  text-align: center;
  width: 100%;
}

.facebook:hover,
.twitter:hover,
.instagram:hover {
  filter: brightness(0) invert(0);
}

@media only screen and (max-width: 700px) {
  footer {
    display: block;
  }

  .contact {
    margin: 25px 0 0;
  }

  .contact-info {
    display: flex;
  }

  .contact-info p {
    font-size: 16px;
    padding-left: 16px;
    margin-top: 0;
  }

  .contact-info img {
    height: 10px;
    width: 10px;
  }

  .links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 15px 0 30px;
    height: 180px;
    gap: 0;
  }

  .links a {
    color: hsl(193, 100%, 96%);
    text-decoration: none;
    margin: 5px 0;
    text-align: left;
  }

  .social {
    text-align: center;
    margin: 0 0 15px;
  }

  .social img {
    margin-left: 5px;
    width: 30px;
  }
}