* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	background-color: #ffffff;
}

button {
	/* padding:10px 25px; */
	font-size: 1.5rem;
	border-radius: 8px;
	background-color: #0000ff;
	border: none;
	padding: 16px 32px;
	color: #ffffff;
}

/* CONTENT */

main {
	width: 100vw;
	/* max-width: 1000px; */
	margin: 0 auto;
}
.container {
	width: 90vw;
	margin: 2em auto;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 0 1em;
	box-shadow: 2px 2px #ffffff;
}
table {
	margin: 0 auto;
	border-radius: 8px;
	width: 100%;
}
caption {
	margin-bottom: 0.5em;
}
thead {
	width: 100%;
	background-color: #0000ff;
	color: #ffffff;
	border-radius: 8px;
	font-weight: 400;
	font-size: 1.75rem;
}
tr {
	padding: 10em 0;
}

tbody > tr {
	font-size: 0.8em;
	padding: 10em 0;
}
tbody > tr:hover {
	background-color: #ccccff;
}



/* DESKTOP */
@media (max-width: 600px) {
	header img {
		display: none;
	}
	.button {
		display: flex;
		gap: 10px;
	}
	table {
		font-size: .8em;
		margin: 0 auto;
		border-radius: 8px;
		width: 50%;
	}
}

/* From the metadata page */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* general styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
	text-decoration: none;
	list-style: none;
}

html,
body {
	min-height: 100vh;
	max-height: 100vh;
	background-color: #fff;
	font-family: lato, Arial, Helvetica, sans-serif;
	overflow: hidden;
}

/* left nav-bar styles */
.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 7vh;
	width: 100%;
	background-color: #0000ff;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
	margin-bottom: 5rem;
}

.nav-logo {
	display: flex;
	align-items: center;
	margin-left: 3vh;
}

.logo-head {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px 6px 12px;
	gap: 6px;
	background-color: #ffffff;
	border-radius: 20rem;
	height: 4vh;
	cursor: pointer;
}

.logo {
	gap: 10px;
	width: 18px;
	height: 18px;
	margin-top: 7px;
	background-color: #0000ff;
	border-radius: 200px;
}

/* right nav-bar styles */
.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3vh;
}

.nav-menu ul {
	display: flex;
}

.nav-menu ul li {
	margin: 4px;
}

.nav-menu ul li a {
	color: #484848;
}

.nav-menu ul li .manage {
	color: white;
}

#saved-files {
	font-size: 1.2rem;
	border: 1px solid #0000d5;
	padding: 1vh 3vh;
	border-radius: 6px;
	background-color: white;
	font-weight: 700;
	transition: 0.7s ease;
	margin-right: 11px;
}

#saved-files:hover,
#share-btn:hover,
label:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#manage-account {
	background-color: #0000ff;
	transition: 0.7s ease;
	font-weight: 700;
	border: 1px solid white;
	font-size: 1.2rem;
	padding: 1vh 3vh;
	border-radius: 6px;
	position: relative;
}

#manage-account:hover,
#download-btn:hover,
#uploadBtn:hover {
	background-color: #0000ff;
}

/* right nav-bar dropdown menu styles */
.dropdown_menu {
	position: absolute;
	left: 0;
	top: 105%;
	background-color: white;
	margin-right: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	margin-top: 0px;
	overflow: none;
	cursor: pointer;
	text-align: justify;
	border-radius: 6px;
	width: 100%;
	display: none;
}

.dropdown_menu ul {
	margin: 0px;
	display: block;
}

.dropdown_menu ul li {
	padding: 10px 10px;
}

.dropdown_menu ul li a {
	color: #484848;
	font-size: 16px;
	font-weight: 700;
}

#manage-account:hover .dropdown_menu {
	display: block;
}

.fa-solid {
	float: right;
	margin-left: 10px;
	padding-top: 5px;
}

.dropdown_menu ul li p {
	color: #484848;
	font-size: 12px;
	font-weight: 400;
}

#change-password:hover,
#logout:hover {
	color: #0000ff;
}

/* mobile view hamburger styles */
.hamburger {
	cursor: pointer;
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.dots {
	width: 20px;
	height: 30px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 100px;
}
.first-dot {
	background-color: #e4d8d8;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin-right: 5px;
}
.second-dot {
	background-color: #e4d8d8;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

/* media query for mobile*/
@media screen and (max-width: 600px) {
	.logo-head {
		padding: 3px 5px 9px;
	}

	.logo {
		width: 16px;
		height: 16px;
	}

	.hamburger {
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 3vh;
	}

	.nav-menu {
		position: fixed;
		left: -120%;
		top: 56px;
		gap: 0;
		flex-direction: column;
		background-color: white;
		color: #484848;
		width: 40%;
		height: 10%;
		border-radius: 6px;
		text-align: center;
		transition: 0.3s;
		margin-left: 56%;
		display: flex;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		cursor: pointer;
		padding: 0;
	}

	.nav-menu ul {
		display: block;
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-menu #saved-files,
	.nav-menu #manage-account {
		border: none;
		box-shadow: none;
		background: none;
		font-size: 16px;
		padding: 4px 15px;
	}

	.nav-menu #manage-account a {
		color: #484848;
	}

	/* .nav-menu #manage-account a:hover {
		color: #0000ff;
	}

	#saved-files a:hover {
		color: #0000ff;
	} */

	.fa-solid {
		display: none;
	}

	.dropdown_menu {
		margin-right: 80px;
		width: 100%;
		position: absolute;
		top: 800%;
		left: -67%;
		right: 0;
		display: block;
		overflow: none;
		text-align: justify;
		display: none;
	}

	.dropdown_menu ul li a {
		font-size: 12px;
		cursor: pointer;
		font-weight: 700;
		line-height: normal;
	}

	.dropdown_menu ul li p {
		font-size: 10px;
		font-weight: 400;
	}

	#display_file {
		width: 40vh;
		height: 7vh;
		margin-bottom: 16px;
		font-size: 15px;
	}

	label {
		margin-bottom: 7px;
		font-size: 16px;
		padding: 0.65em 0.4em;
		margin-right: 6px;
	}

	#uploadBtn {
		font-size: 16px;
		padding: 0.8em 0.4em;
		margin-left: 5px;
	}

	.container {
		width: 40vh;
		height: 64vh;
		margin-bottom: 10px;
	}

	#display-metadata {
		font-size: 15px;
	}

	.section4 {
		margin-left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
	}

	#share-btn {
		margin-left: 25px;
		font-size: 15px;
		padding: 9px 25px;
	}

	#download-btn {
		margin-right: 25px;
		font-size: 15px;
		padding: 11px 20px;
	}
}

@media (min-width: 601px) and (max-width: 720px) {
	.container {
		width: 70vh;
		height: 57vh;
	}

	.nav-menu #saved-files,
	.nav-menu #manage-account {
		font-size: 18px;
	}

	label,
	#uploadBtn,
	#share-btn,
	#download-btn {
		font-size: 16px;
	}
}


#download-btn {
	padding: 10px !important; 
	/* height: 10px !important;  */
	font-size: 12px !important;
}
#download-btn:hover {
	cursor: pointer;
}